body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #EBF3E8;
}

.calculator-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.calculator {
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
}

.display {
    background-color: #ddd;
    padding: 10px;
    text-align: right;
    font-size: 1.5em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;
}

.operation {
    background-color: #B2C8BA;
}

.clear {
    background-color: #86A789;
    color: white;
}

.history {
    width: 300px;
    margin-left: 20px;
}

#history-table {
    width: 100%;
    border-collapse: collapse;
}

#history-table th, #history-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#history-table th {
    background-color: #f2f2f2;
}
